extends layout

block content
  .container-fluid
    h1
      i.font-size24.demo-icon.icon-down-open(id="walletButton")
      text Wallets
    .row(id="walletContainer")
      .col-sm-4
       
        include includes/alicewallet.jade

      .col-sm-4
        .well
          form.form-horizontal
            h2 
              i.demo-icon.icon-list
              text Transaction
              - var txList = [];
              - txList.push({reference:'0', field1: '---', field2: '---'});
              - txList.push({reference:'1', field1: '---', field2: '---'});
              - txList.push({reference:'2', field1: '---', field2: '---'});
              - txList.push({reference:'3', field1: '---', field2: '---'});
              - let tx
            div(id="tx0")
              - tx = txList[0]
              include includes/transaction.jade
            div(id="tx1")
              - tx = txList[1]
              include includes/transaction.jade
            div(id="tx2")
              - tx = txList[2]
              include includes/transaction.jade
            div(id="tx3")
              - tx = txList[3]
              include includes/transaction.jade
            .row
              .col-sm-6
                p(id="txStatus") In: 0 Out: 0 Fee: 0
              .col-sm-6
                .btn-toolbar
                  button.float-right.btn.btn-primary(type="button", onclick='txClear();')
                    span Clear
                  button.btn.btn-primary(type="button", onclick='txSend();')
                    span Broadcast
              

      .col-sm-4
        include includes/bobwallet.jade

    .row
      .col-sm-4
        h1 
          i.font-size24.demo-icon.icon-down-open(id="minerButton")
          text Miners
        div(id="minerContainer")
          - var block = {block: 1, chain: chain, nonce: 0, coinbasevalue: '50', coinbaseto: 'PKH(Michael)', txs: [], previous: '0000000000000000000000000000000000000000000000000000000000000000'}
          include includes/minerblock.jade


    h1
      i.font-size24.demo-icon.icon-down-open(id="chainButton")
      text #{__('Blockchain')}
    div(id="chainContainer")
      - var peers = {1: 'A'}
      - each peer, chain in peers
      
        .row.row-horizon(id = 'blockchainWindow')
          - var blocks = []
          - blocks.push({block: 4, chain: chain, nonce: 146, coinbasevalue: '50', coinbaseto: 'PKH(Doris)', txs: [], previous: '0003fb6ec96ff4dc315e9c813742fb433', data: '0101'})
          - blocks.push({block: 3, chain: chain, nonce: 4021, coinbasevalue: '50', coinbaseto: 'PKH(Doris)', txs: [{value: '1.00', from: 'PKH(Charlie)', to: 'PKH(Emil)'},{value: '14.00', from: 'PKH(Charlie)', to: 'PKH(Alice)'},{value: '50.00', from: 'PKH(Michael)', to: 'PKH(Charlie)'}], previous: '00094a282fcd7c54fc1cc7a95bd251aa40c396a96329e5d94f28cb8751b7aaf2', data: '5eefdce656df6f7c33bef3767f677f140e5d88294e382112ba83c010beae4f0a'})
          - blocks.push({block: 2, chain: chain, nonce: 7514, coinbasevalue: '50', coinbaseto: 'PKH(Michael)', txs: [{value: '10.00', from: 'PKH(Satoshi)', to: 'PKH(Alice)'},{value: '15.00', from: 'PKH(Satoshi)', to: 'PKH(Charlie)'},{value: '5.00', from: 'PKH(Satoshi)', to: 'PKH(Doris)'},{value: '20.00', from: 'PKH(Satoshi)', to: 'PKH(Satoshi)'}], previous: '000716af3c468410f74e269ef28941026685b311421fc8c032c00bcb5b11d805', data: 'c2154159efa685189bd6d7eff73db4158745f467b9df927c5688cff83e91e40a'})
          - blocks.push({block: 1, chain: chain, nonce: 689, coinbasevalue: '50', coinbaseto: 'PKH(Satoshi)', txs: [], previous: '0000000000000000000000000000000000000000000000000000000000000000', data: 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855'})
          each block in blocks
            .col-xs-7(id="container#{block.block}")
              include includes/demoblock.jade


  script.
    $(function() {
      calcAliceCredentials(); //Init Alice Key Credentials
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      
      $('#container4').hide();
      $('#block1chain2previous').val($('#block3chain1hash').val());

    });

    let balanceNewAlice = $('#aliceBalance').val();
    let balanceNewBob = $('#bobBalance').val();

    $("#walletButton").click(function() { $("#walletContainer").slideToggle("slow"); $('#walletButton').toggleClass("icon-right-open"); });
    $("#minerButton").click(function() { $("#minerContainer").slideToggle("slow"); $('#minerButton').toggleClass("icon-right-open"); });
    $("#chainButton").click(function() { $("#chainContainer").slideToggle("slow"); $('#chainButton').toggleClass("icon-right-open"); });
  
      $('#block1chain2mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              minerBlockMine();
              l.stop();
            }, 250); // give UI time to update
        });

    function txClear() {
      for (let i = 0; i < 4; i++) { 
        $('#txSelect'+i).val("nothing");
        txOnChange(i);
      }
    }


    function txSend() {
      console.log("txSend");
      //TODO input checks
      let txIn = 0;
      let txOut = 0;
      let inputTypes = [$('#txSelect0').val(), $('#txSelect1').val(), $('#txSelect2').val(), $('#txSelect3').val()];
      let txEntries = [];
      inputTypes.forEach( (obj, index) => {
        if (obj == "CLAIM") {
          txIn -= (- $('#txIn'+index).val());
        }
        if (obj == "SPEND") {
          txOut -= (- $('#txForm2_'+index).val());
          let addr = $('#txForm1_'+index).val();

          if (addr == $('#alicePKH').val()) {
            addr = "PKH(Alice)";
          } else if (addr == $('#bobPKH').val()) {
            addr = "PKH(Bob)";
            balanceNewAlice -= ($('#txForm2_'+index).val());
            balanceNewBob -= (-$('#txForm2_'+index).val());
          } else {
            addr = "PKH(Unknown)";
            balanceNewAlice -= ($('#txForm2_'+index).val());
          }

          txEntries.push({amount: $('#txForm2_'+index).val() ,to: addr});
        }
      });

      let htmlString = "";

      txEntries.forEach((entry, index) => {
       htmlString += '<div class="input-group">\
                        <div class="input-group-addon">id</div><input id="block4chain1tx'+index+'id" style="width:48px;" value="'+index+'" class="form-control" type="text">\
                        <div class="input-group-addon"><i class="demo-icon icon-bitcoin"></i></div><input id="block4chain1tx'+index+'value" value="'+entry.amount+'" onkeyup="updateChain(4, 1);" class="form-control" type="text">\
                        <div class="input-group-addon"><i class="demo-icon icon-user"></i></div><input id="block4chain1tx'+index+'from" value="PKH(Alice)" onkeyup="updateChain(4, 1);" class="form-control" type="text">\
                        <div class="input-group-addon"><i class="demo-icon icon-right-big"></i></div><input id="block4chain1tx'+index+'to" value="'+entry.to+'" onkeyup="updateChain(4, 1);" class="form-control" type="text">\
                      </div>';
      });
      $('#minerblockTx').html(htmlString);
      txHashOverData();
    }



    function txHashOverData() {
      //TODO call when manipulating data in tx
      $('#block1chain2data').val(CryptoJS.SHA256($('#minerblockTx').text()));


      //TODO this results in different calculations when broadcasted into chain
    }


    function txOnChange(id) {
      let changeTo = $('#txSelect'+id).val();

      switch (changeTo) {
        case "CLAIM":
          $('#txForm1Addon_'+id).text('Sign');
          $('#txForm1Placeholder'+id).html('\
            <select class="form-control" id="txIn'+id+'" onchange="txOnChangeTx('+id+');"> \
              <option value="0">Input Tx</option> \
              <option value="10">Block:#2 Tx:#0 Amount:10.0</option> \
              <option value="15">Block:#3 Tx:#1 Amount:14.0</option> \
            </select>');
          $('#txForm2Addon_'+id).text('PubKey');
          $('#txForm2_'+id).val($('#alicePubKey').val());
          break;
        case "SPEND":
          $('#txForm1Addon_'+id).text('Addr');
          $('#txForm1Placeholder'+id).html('<input id="txForm1_'+id+'" value="" class="form-control" type="text">');
          $('#txForm2Addon_'+id).text('Amount');
          $('#txForm2_'+id).val('0');
          break;
        default:
          $('#txForm1Addon_'+id).text('---')
          $('#txForm1Placeholder'+id).html('<input id="txForm1_'+id+'" value="---" class="form-control" type="text">');
          $('#txForm2Addon_'+id).text('---')
          $('#txForm2_'+id).val('---');
          break;
      }



    }

    function txOnChangeTx(id) {
      checkTransaction();
    }


    function checkTransaction() {
      console.log("checkTransaction");
      //keeping things simple.. only 2 utxos are allowed
      let txIn = 0;
      let txOut = 0;
      let inputTypes = [$('#txSelect0').val(), $('#txSelect1').val(), $('#txSelect2').val(), $('#txSelect3').val()];

      inputTypes.forEach( (obj, index) => {
        if (obj == "CLAIM") {
          txIn -= (- $('#txIn'+index).val());
        }
        if (obj == "SPEND") {
          txOut -= (- $('#txForm2_'+index).val());
        }
      });

      $('#txStatus').text("In: "+txIn+ " Out: " + txOut + " Fee: " + (Math.max(0, txIn - txOut)).toPrecision(2));


      //TODO plausilibty checks

    }



    function broadcastNewBlock() {

      //update balances
      $('#aliceBalance').val(balanceNewAlice);
      $('#bobBalance').val(balanceNewBob);

      //data transition miner
      $('#block4chain1nonce').val($('#block1chain2nonce').val());
      $('#block4chain1previous').val($('#block1chain2previous').val());
      $('#block4chain1data').val($('#block1chain2data').val());
      $('#block4chain1txData').html($('#minerblockTx').html());
      $('#block4chain1hash').val($('#block1chain2hash').val());

      //set tick
      $('#block4chain1icon').html('<i class="demo-icon icon-ok color-success"></i>');

      $('#container4').slideDown();

      //clear and update miner block
    }


    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val() +
              $('#block'+block+'chain'+chain+'coinbasevalue').val() +
              $('#block'+block+'chain'+chain+'coinbaseto').val() +
              $('#block'+block+'chain'+chain+'data').val();

      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      setBlocks(3);
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }

    function getBobSeed() {
      return $('#bobSeed').val();
    }

    function getAliceSeed() {
      return $('#aliceSeed').val();
    }





